################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/debug
/.vs
/release
*.stash
/img.png
/output_20240926_144111.txt
